{% extends "admin/admin-base.html" %}

{% block title %} admin-index   {% endblock title %}



{% block pageheader %}
<h2 class="page-font">Edit Product </h2>
{% endblock pageheader %}
{% block content %}
{%load static%}
<div class= "col-12">
  <a href="{% url 'product_list' %}" type="button" class="btn btn-outline-secondary">Back </a>
  <hr>

  <div class="text-light bg-dark p-3 mt-0 rounded-4 col-8 m-5">
    <form method="POST" action="/adminmanager/edit_product/{{value.id }}/">
        {% csrf_token %}
  
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            <strong></strong> {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
  
        <div class="mb-2">
            <label for="name" class="form-label">product Name</label>
            <input type="text" class="form-control" name="product_name" value="{{product.product_name }}" required>
        </div>
  
        <div class="mb-3">
            <label class="form-label" for="product_images">Upload Image</label>
            <input type="file" class="form-control" id="product_images" name="product_images" accept="image/*" multiple required>
            {% if product.product_images %}
              <img src="{{ product.product_images.url }}" alt="Product Image" class="img-fluid" style="width:100px">
            {% endif %}
        </div>

        <div class="mb-3">
            <label class="form-label" for="category">Category</label>
            <select class="form-select" id="category" name="category" required>
                <option value="" disabled selected>Select Category</option>
                {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.category_name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-2">
            <label for="name" class="form-label">product description</label>
            <input type="text" class="form-control" name="description" value="{{product.description }}" required>
        </div>

        <div class="mb-2">
            <label for="name" class="form-label">product price</label>
            <input type="text" class="form-control" name="price" value="{{product.price }}" required>
        </div>

        <div class="mb-2">
            <label for="name" class="form-label">product quantity</label>
            <input type="text" class="form-control" name="quantity" value="{{product.quantity }}" required>
        </div>
  
        <div class="input_group">
            <button type="submit" class="btn btn-secondary mb-2">Submit</button>
        </div>
        <hr>
    </form>
  </div>

</div>


{% endblock content %}
