<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}
        base
        {% endblock title %}</title>
        {% load static %}
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/stylemain.css' %}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Crimson+Pro">
    </head>
    <body>

        <!-- navbar  -->
        <div>
            <nav class="navbar navbar-expand-lg text-dark gray-bg">
        
                <div class="container-fluid">
        
                    <a class="navbar-brand m-0" href="#">
                        <img src="{% static 'imgs/icons/img.jpg' %}" alt="Logo" width="50" height="60" class="d-inline-block align-text-top">
                    </a>
        
                    <a class="navbar-brand fs-1 fw-bold m-0" href="#">
                        {% block pageheader %}
        
                    {% endblock pageheader %}</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                        <!-- Move both Profile dropdown and Home, Shop, and Contact links to the right -->
                        <ul class="navbar-nav mb-2 mb-lg-0">
                           
        
                            <li class="nav-item style-hover">
                                <a class="nav-link active" aria-current="page" href="/mainapp/index">Home</a>
                            </li>
                            <li class="nav-item style-hover">
                                <a class="nav-link active" href="{% url 'shop' %}">Shop</a>
                            </li>
                            <li class="nav-item style-hover">
                                <a class="nav-link active" href="#">Contact</a>
                            </li>
                            <li class="nav-item dropdown style-hover">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Profile
                                </a>
                                {% if user.is_authenticated %}
                                <ul class="dropdown-menu style-hover">
                                    <li><a class="dropdown-item style-hover" href="{% url 'logout' %}">Log Out</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                </ul>
                            {% else %}
                                <ul class="dropdown-menu style-hover">
                                    <li><a class="dropdown-item style-hover" href="{% url 'signup' %}">Sign up</a></li>
                                    <li><a class="dropdown-item style-hover" href="{% url 'login' %}">Log in</a></li>
                                   <li><a class="dropdown-item style-hover" href="{% url 'admin-login' %}">Admin-login</a></li>
        
                                    <li><hr class="dropdown-divider"></li>
                                </ul>
                            {% endif %}
                        </ul>
        
                    </div>
                </div>
            </nav>
        </div>
        
        
        
<!-- navbar close  -->

        <main>
          {% block content %}
          
          
          {% endblock content %}
        </main>

 <footer class="footer gray-bg text-dark">
  <br>
  <br>
  <br>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>Company</h5>
                <ul class="list-unstyled">
                    <li><a class="text-dark" href="#">About Us</a></li>
                    <li><a class="text-dark" href="#">Contact Us</a></li>
                    <li><a class="text-dark" href="#">Careers</a></li>
                    <!-- Add more company-related links as needed -->
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Customer Service</h5>
                <ul class="list-unstyled ">
                    <li ><a class="text-dark" href="#">FAQ</a></li>
                    <li><a class="text-dark" href="#">Shipping Information</a></li>
                    <li><a class="text-dark" href="#">Returns & Exchanges</a></li>
                    <!-- Add more customer service links as needed -->
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Connect With Us</h5>
                <ul class="list-unstyled">
                    <li><a class="text-dark" href="#">Facebook</a></li>
                    <li><a class="text-dark" href="#">Twitter</a></li>
                    <li><a class="text-dark" href="#">Instagram</a></li>
                    <!-- Add more social media links as needed -->
                </ul>
            </div>
        </div>
        <hr>
        <div class="text-center">
            <p class="text-dark">&copy; 2023 Your E-commerce. All Rights Reserved.</p>
        </div>
    </div>
</footer>

        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" i
        ntegrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    </body>
</html>