{% extends "auth/authbase.html" %}
{%load static%}

{% block title %} Sign up   
 {% endblock title %}

{% block pageheader %}
<h2 class="page-font">SIGN-UP</h2>
{% endblock pageheader %}

{% block content %}
<br>
<div class="container">
    <div class="row">
        <div class="col-6 justify-content-center align-items-center d-flux">
            <br>
            <br>
            <br>
            <div class="col-2"></div>
            <!-- Content for the second half of the screen -->
            <img src="{% static 'imgs/icons/img.jpg' %}" class="rounded-circle" id="rotating-logo" style="height: 60vh; width: 60vh;">
        </div>
        <br>
        <div class="col-6 d-flex text-light bg-dark p-3 rounded-4" style="width: auto;">
            <br>
            <!-- Content for the first half of the screen -->

            <form method="POST" action="{% url 'signup' %}">
                {% csrf_token %}
                {% for message in messages  %}
                <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                 <strong></strong> {{message}}
                 <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
               </div>
      
               {% endfor %}
                    <div class="mb-2">
                        <label for="name" class="form-label">User name</label>
                        <input type="text" name="username" class="form-control" required>
                    </div>
                    <div class="mb-2">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
                      </div>
                      <div class="mb-2 mt-0">
                        <label for="exampleInputEmail1" class="form-label">Full name</label>
                        <div class=" input-group">        
                            <input type="text" aria-label="First name" placeholder="Firstname" class="form-control" name="first_name" required>
                            <input type="text" aria-label="Last name" name="last_name" placeholder="Last name" class="form-control">
                          </div>
                    </div>
                     
                        <!-- <div class="mb-2">
                            <label for="phone"class="form-label">Phone Number:</label>
                            <input type="tel" name="number" class="form-control" id="phone" name="phone" pattern="[0-9]{10}" required>
                        </div> -->
                      <div class="mb-2">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" class="form-control" name="pass1" id="exampleInputPassword1" required>
                      </div>
                      <div class="mb-2">
                        <label for="exampleInputconfrompassword1" class="form-label"> Confrom Password</label>
                        <input type="password" name="pass2" class="form-control" id="exampleInputconfrompassword1" required>
                      </div>
                      <div class="input_group">
                        <button type="submit" class="btn btn-secondary">Submit</button>
                        <a href="{% url 'login' %}" class="text-primary style-hover">Exisiting User? Log In </a>
                      </div>
                </div>
              </form>



        </div>
    </div>
</div>
<br><br><br><br><br><br>
{% endblock content %}